[2022-07-05 14:21] RyanGlScott commented on #335
I can reproduce this bug independently of Copilot, so I've opened fdedden/language-c99-simple#8 to track this on the `language-c99-simple` side.

[2022-07-07 06:23] ivanperez-keera commented on #335
Thanks, Ryan.

If the release of that fix for `language-c99-simple` happened soon, there exist mechanisms on that package's side to prevent users from installing the broken version. However, seeing that `language-c99-simple` has not accepted (or responded to) that yet, it is unclear when that fix will be released (unlikely to be today).

Let's prevent users from using `language-c99*` 0.2 for now a

[2022-07-07 09:48] ivanperez-keera commented on #335
The change is ready now here: https://github.com/ivanperez-keera/copilot.

[2022-07-07 12:16] ivanperez-keera commented on #335
Change Manager: Verified that:
- Solution is implemented:
  - [X] The code proposed compiles and passes all tests. Details:
    Build log: https://app.travis-ci.com/github/Copilot-Language/copilot/builds/252925719

  - [X] The solution proposed produces the expected result. Details:
    The following Dockerfile checks that copilot can be installed with the latest versions of all dependencies modif

[2022-07-07 12:16] ivanperez-keera commented on #335
Change Manager: Implementation ready to be merged.

[2022-07-07 15:53] ivanperez-keera commented on #333
Change Manager: Verified that:
- Solution is implemented:
  - [X] The code proposed compiles and passes all tests. Details:
    Build log: https://app.travis-ci.com/github/Copilot-Language/copilot/builds/252941250

  - [X] The solution proposed produces the expected result. Details:
    The following Dockerfile checks that each package can be downloaded from the repo provided without any keys, and

[2022-07-07 15:53] ivanperez-keera commented on #333
Change Manager: Implementation ready to be merged.

[2022-07-07 15:59] #333 closed

[2022-07-07 16:01] ivanperez-keera opened #356 "Release 3.10"
**Description**

Version 3.10 of Copilot is ready and should be closed and published on Hackage.

**Type**

- Management: release and publication.

**Additional context**

None.

**Requester**

- Ivan Perez.

**Method to check presence of bug**

Not applicable (not a bug).

**Expected result**

- Cabal files indicate new version number, constraints are adjusted as needed, commit is tagged with ver

[2022-07-07 16:02] ivanperez-keera commented on #356
Technical Lead: Confirmed that the issue should be addressed.

[2022-07-07 17:24] ivanperez-keera commented on #356
Implementor: solution implemented, review requested.

[2022-07-07 17:31] ivanperez-keera commented on #356
Change Manager: Verified that:
- Solution is implemented:
  - [X] The code proposed compiles and passes all tests. Details:
    Build log: https://app.travis-ci.com/github/Copilot-Language/copilot/builds/252946079
  - [X] The solution proposed addresses the necessary modification to cabal packages. The following docker image installs copilot enforcing the new version via compiler constraints. It p

[2022-07-07 17:36] #356 closed

[2022-07-07 17:37] ivanperez-keera opened #358 "3.11"
Due date for closing issues: 2022-08-07
Due date for publication: 2022-09-07

[2022-07-20 13:57] ivanperez-keera commented on #262
The new Copilot requirements allow us to address this change. I'll be adding a normative change request and processing it, ideally as part of the next release.

[2022-08-02 18:22] fdedden commented on #178
No it isn't, I'll close it.

[2022-08-02 18:22] #178 closed

[2022-08-04 11:20] ivanperez-keera commented on #314
Change Manager: Confirmed that the bug exists.

[2022-08-04 11:21] ivanperez-keera commented on #314
Technical Lead: Confirmed that the issue should be addressed.

[2022-08-04 11:21] ivanperez-keera commented on #314
Technical Lead: Issue scheduled for fixing in Copilot 3.11.

Fix assigned to: @ivanperez-keera .

[2022-08-04 11:33] ivanperez-keera opened #359 "`copilot-core`: module `Copilot.Core.PrettyDot` is unnecessary"
**Description**

The module `Copilot.Core.PrettyDot` is not being used by any other part of Copilot or, as far as we know, by any user of Copilot. It is not a necessary part of the interface to use Copilot, and not required by Copilot's requirements. Although the idea is good, there is consensus that it is not needed at this point.

Therefore, it would be suitable to remove this module.

As per ou

[2022-08-04 11:44] ivanperez-keera opened #360 "`copilot-core`: module `Copilot.Core.Type.Dynamic` should be removed"
**Description**

The module `Copilot.Core.Type.Dynamic` is not being used by any other part of Copilot.

It was deprecated in Copilot 3.8 and no messages have been received requesting that it be kept in the implementation.

As per our internal policy of waiting 3 versions from deprecation until a public interface declaration can be removed, this module can now be removed.

**Type**

- Bug: unused

[2022-08-04 11:46] ivanperez-keera commented on #360
Change Manager: Confirmed that the bug exists.

[2022-08-04 11:47] ivanperez-keera commented on #360
Technical Lead: Confirmed that the issue should be addressed.

[2022-08-04 11:47] ivanperez-keera commented on #360
Technical Lead: Issue scheduled for fixing in Copilot 3.11.

Fix assigned to: @ivanperez-keera .

[2022-08-04 11:49] ivanperez-keera commented on #359
Change Manager: Confirmed that the bug exists.

[2022-08-04 11:49] ivanperez-keera commented on #359
Technical Lead: Confirmed that the issue should be addressed.

[2022-08-04 11:50] ivanperez-keera commented on #359
Technical Lead: Issue scheduled for fixing in Copilot 3.11.

Fix assigned to: @ivanperez-keera .

[2022-08-04 12:26] ivanperez-keera commented on #262
**Description**

The library `copilot-language` uses `unsafeCoerce`. This use of `unsafeCoerce` can be avoided by changing the definition of `System.Mem.StableName.Dynamic.DynStableName` and introducing an existential type (akin to how the library `data-reify` defines `DynStableName`).

In our effort to move Copilot to Class D, we have dictated that uses of unsafe code (including functions specifi

[2022-08-04 12:27] ivanperez-keera commented on #262
Change Manager: Confirmed that the issue exists.

[2022-08-04 12:28] ivanperez-keera commented on #262
Technical Lead: Confirmed that the issue should be addressed.

[2022-08-04 12:28] ivanperez-keera commented on #262
Technical Lead: Issue scheduled for fixing in Copilot 3.11.

Fix assigned to: @ivanperez-keera .

[2022-08-04 13:33] ivanperez-keera opened #361 "`copilot-core`: externalize the interpreter in a separate library"
**Description**

Currently, the architecture of Copilot mixes backends with other libraries, which makes the result not uniform. For example, the interpreter and the Graphviz prettyprinter are part of `copilot-core`, while the C99 backend is in a separate library.

The implementation does not match our desired architecture according to our design documents, and it makes the code partly harder to m

[2022-08-04 13:47] ivanperez-keera opened #362 "`copilot-language`: function `prettyPrint` is unnecessary"
**Description**

The function `copilot-language:Copilot.Language.prettyPrint` is an aid to reify a `Spec` and then pretty print the resulting Copilot Core representation.

No part of Copilot needs this direct access, and no other backend provides such an aid at `copilot-language` level. This function is not needed by Copilot's requirements, or used elsewhere in Copilot. The dependencies that resul

[2022-08-04 13:48] ivanperez-keera commented on #362
Change Manager: Confirmed that the issue exists.

[2022-08-04 13:48] ivanperez-keera commented on #362
Technical Lead: Confirmed that the issue should be addressed.

[2022-08-04 13:51] ivanperez-keera commented on #361
Change Manager: Confirmed that the issue exists.

[2022-08-04 13:51] ivanperez-keera commented on #361
Technical Lead: Confirmed that the issue should be addressed.

[2022-08-04 13:51] ivanperez-keera commented on #361
Technical Lead: Issue scheduled for fixing in Copilot 3.11.

Fix assigned to: @ivanperez-keera .

[2022-08-05 19:28] ivanperez-keera opened #363 "`copilot-theorem`: support bisimulation proofs involving C99 code"
**Description**

One of Copilot's new requirements is to produce proofs that the C code produced matches the semantics.

In order to produce such proofs, we must extend `copilot-theorem​` to enable carrying out proofs by bisimulation.

**Type**

- Feature: new functionality required to comply with Copilot's requirements.

**Additional context**

None.

**Requester**

- Ryan Scott
- Rob Dockins

**

[2022-08-05 19:28] ivanperez-keera commented on #363
Change Manager: Confirmed that the need exists.

[2022-08-05 19:28] ivanperez-keera commented on #363
Technical Lead: Confirmed that the issue should be addressed.

[2022-08-08 17:03] ivanperez-keera commented on #362
Implementor: Solution implemented, review requested.

[2022-08-08 17:45] ivanperez-keera commented on #362
Change Manager: Verified that:
- Solution is implemented:
  - [X] The code proposed compiles and passes all tests. Details:
    Build log: https://app.travis-ci.com/github/Copilot-Language/copilot/builds/254145924

  - [X] The solution proposed produces the expected result. Details:
    The following Dockerfile checks that the function is not deprecated before, and it is deprecated after. When exe

[2022-08-08 17:45] ivanperez-keera commented on #362
Change Manager: Implementation ready to be merged.

[2022-08-08 17:53] #362 closed

[2022-08-08 23:38] RyanGlScott commented on #262
Was this closed by mistake? I think the commit above meant to refer to #362 rather than this issue (#262).

[2022-08-09 07:03] ivanperez-keera commented on #262
Yes, it was. The commit was corrected on the spot, but coincidentally, 262 was open :)

[2022-08-09 08:42] ivanperez-keera commented on #359
Implementor: Solution implemented, review requested.

[2022-08-09 08:43] ivanperez-keera commented on #359
Change Manager: Verified that:
- Solution is implemented:
  - [X] The code proposed compiles and passes all tests. Details:
    Build log: https://app.travis-ci.com/github/Copilot-Language/copilot/builds/254169914

  - [X] The solution proposed produces the expected result. Details:
    The following Dockerfile checks that the definition is not deprecated before, and it is deprecated after. When e

[2022-08-09 08:43] ivanperez-keera commented on #359
Change Manager: Implementation ready to be merged.

[2022-08-09 08:50] #359 closed

[2022-08-12 11:21] ivanperez-keera commented on #360
Implementor: Solution implemented, review requested.

[2022-08-12 11:25] ivanperez-keera commented on #360
Change Manager: Verified that:
- Solution is implemented:
  - [X] The code proposed compiles and passes all tests. Details:
    Build log: https://app.travis-ci.com/github/Copilot-Language/copilot/builds/254344446

  - [X] The solution proposed produces the expected result. Details:
    The following Dockerfile checks that the module has been removed. When executed, it prints the message `Success`

[2022-08-12 11:26] ivanperez-keera commented on #360
Change Manager: Implementation ready to be merged.

[2022-08-12 11:32] #360 closed

[2022-08-12 13:17] ivanperez-keera commented on #262
Implementor: Solution implemented, review requested.

[2022-08-12 15:47] ivanperez-keera commented on #262
Change Manager: Verified that:
- Solution is implemented:
  - [X] The code proposed compiles and passes all tests. Details:
    Build log: https://app.travis-ci.com/github/Copilot-Language/copilot/builds/254350096

  - [X] The solution proposed produces the expected result. Details:
    The following Dockerfile checks that the module no longer uses `unsafeCoerce` and prints the message `Success`.

[2022-08-12 15:47] ivanperez-keera commented on #262
Change Manager: Implementation ready to be merged.

[2022-08-12 15:52] #262 closed

[2022-08-15 02:51] jeannekamikaze commented on #58
I'm too noob to make any meaningful contribution in this space. How are you making up for the lack of Haskell types currently? It seems that Copilot programs currently are forced to use the C types defined in [Type](https://github.com/Copilot-Language/copilot/blob/master/copilot-core/src/Copilot/Core/Type.hs#L91). Is there some way, for example, to (maybe unsafely) cast a Haskell Enum to a Word32?

[2022-08-15 03:30] jeannekamikaze opened #368 "How to work with structs?"
Taking the 2d vector from the [tutorial](https://copilot-language.github.io/downloads/copilot_tutorial.pdf):

[code]

How do we define addition?

If I define:

[code]

Then I am unsure how to lift `addVec` into `Stream Vec` and I run into errors quickly.

On the other hand, I'm not even sure how to define:

[code]

My `Field`s and my `Stream`s seem to dislike each other quickly.

The [structs](htt

[2022-08-16 01:04] ivanperez-keera opened #369 "`copilot-core`: `InnerType`, `Flatten`, `Foldable` instance, `size` are unnecessary in `Array` module"
**Description**

Multiple definitions in `Copilot.Core.Type.Array` are not being used by any other part of Copilot or, as far as we know, by any user of Copilot. These include the `InnerType` class, the `Flatten` class, the `Foldable` instance, and the `size` function. They are not necessary parts of the interface to use Copilot, and not required by Copilot's requirements.

Therefore, it would be

[2022-08-16 03:31] jeannekamikaze commented on #368
To expand on the above, if I try something like:

[code]

Assuming `Const` is even the right thing to do here, the problem is that `Field`s don't make `Stream`s, so those `+` are ill-defined (we can add `Stream`s, but we can't add `Field`s.)

On the other hand, I am not sure how `addVec :: Vec -> Vec -> Vec` would work, since that's host code and not DSL code.

So it seems to me that for data stru

[2022-08-16 16:53] #368 closed

[2022-08-16 23:25] jeannekamikaze commented on #368
Ok, thank you for the explanation.

I can certainly give it a go, though if you haven't figured it out, I am unlikely to do so too :)

[2022-08-22 13:18] fdedden commented on #314
@ivanperez-keera @agoodloe, I have implemented the `sizeof` operator in `language-c99-simple` (https://github.com/fdedden/language-c99-simple/pull/12), that should make it straightforward to implement. I have tested the implementation with arrays and nested arrays as well.

Currently that addition is not yet published to hackage, I think it is better to try it out with Copilot first, but I can pub

[2022-08-22 19:22] ivanperez-keera commented on #314
Understood. Thanks!

I will draft what the solution to this issue #314 should look like and we can check that it does the right thing.

[2022-08-23 17:12] ivanperez-keera commented on #361
Implementor: Solution implemented, review requested.

[2022-08-23 17:23] ivanperez-keera commented on #361
Change Manager: Implementation ready to be merged.

[2022-08-23 22:18] ivanperez-keera opened #371 "`copilot-c99`: Adapt to work with `language-c99-simple-0.2.1` and `language-c99-0.2`"
**Description**

In order to keep Copilot effectively working in the current Haskell ecosystem, as well as new versions of GHC, we need to extend the versions of dependencies that Copilot can be installed with. Specifically, `language-c99-simple` has seen a new release 0.2.1, but `copilot-c99` needs versions strictly lower than 0.2, which require versions of GHC lower than 9.2.

**Type**

- Manage

[2022-08-23 22:44] ivanperez-keera commented on #371
Change Manager: Confirmed that a new version is released, that Copilot won't compile with the old version of `language-c99` and GHC 9.2, and that changes are necessary.

[2022-08-23 22:44] ivanperez-keera commented on #371
Technical Lead: Confirmed that the issue should be addressed.

[2022-08-23 22:45] ivanperez-keera commented on #371
Technical Lead: Issue scheduled for fixing in Copilot 3.11.

[2022-08-23 23:56] ivanperez-keera commented on #371
Implementor: Solution implemented, review requested.

[2022-08-24 00:06] ivanperez-keera commented on #371
Change Manager: Verified that:
- Solution is implemented:
  - [X] The code proposed compiles and passes all tests. Details:
    Build log: https://app.travis-ci.com/github/Copilot-Language/copilot/builds/254745013

  - [X] The solution proposed produces the expected result. Details:
    The following Dockerfile checks that Copilot now compiles with the newer versions of both libraries and with GHC

[2022-08-24 00:06] ivanperez-keera commented on #371
Change Manager: Implementation ready to be merged.

[2022-08-24 00:12] #371 closed

[2022-08-24 01:39] ivanperez-keera commented on #314
I have drafted the solution here: https://github.com/ivanperez-keera/copilot/tree/develop-clean-array.

The example above works for me. It would be good if others could also try it @fdedden and maybe also @RyanGlScott .

[2022-08-24 12:25] RyanGlScott commented on #314
I tried out that branch, but I still witness the buggy behavior on the program above. (Looking at the [commit on that branch](https://github.com/ivanperez-keera/copilot/commit/048b8897cdf2afbcd4f84b87abe2e572d568372f), all it does is remove some constraints—are there subsequent commits that haven't been pushed yet?)

[2022-08-24 15:11] RyanGlScott commented on #314
Thanks. I was able to build this branch after adding the following to my `cabal.project.local`:

[code]

-----

Something strikes me as suspicious about the generated C code for the program above:

<details>

[code]
</details>

In particular, the definition of `s0_gen` seems wrong:

[code]

This will stack-allocate an array and return a reference to the array. Because it is stack allocated, howeve

[2022-08-24 15:36] RyanGlScott opened #373 "`copilot-c99`: `array has incomplete element type` error when declaring stream with array of structs"
I write a Copilot spec involving a stream of structs:

[code]

Then the generated C code can be compiled:

[code]
[code]
[code]

On the other hand, if I modify the spec above such that the trigger uses an _array_ of structs:

[code]

Then I am unable to compile the generated C code:

[code]
[code]
[code]

In `struct2.h`, we have:

[code]

This uses a forward declaration for `struct volts`, but in

[2022-08-24 15:38] RyanGlScott commented on #314
I also tried out some variations of the program above using nested arrays and structs, and they also produce invocations of `memcpy` that appear valid. I did uncover one compilation issue when trying to use an example involving an array of structs, however. That appears to be a separate issue, so I have opened #373 for this.

[2022-08-24 17:23] ivanperez-keera commented on #314
@RyanGlScott If I understand what you are saying correctly, the issue is unrelated to the size of part of the copy, and if anywhere, it can manifest in this particular point:

`(memcpy)((s0_tmp), ((s0_gen)()), ((2) * (sizeof(int16_t))));`

After that, the values are in `s0_tmp`, so we are good.

It seems that a solution to this would be to pass the direction of `s0_tmp` as an argument to `s0_gen`

[2022-08-24 17:49] RyanGlScott commented on #314
Yes, that sounds reasonable to me.

[2022-08-24 18:03] ivanperez-keera commented on #314
Ok. I think these are two issues then (very closely related, but two different bugs).

One issue has to do with the first `memcpy`:
[code]
which should be:
[code]

The second has to do with:
[code]
which should be:
[code]

I'll close the second as part of this issue and open a separate one for the first.

[2022-08-25 17:17] ivanperez-keera commented on #369
Technical Lead: Confirmed that the issue should be addressed.

[2022-08-25 17:29] ivanperez-keera commented on #369
Technical Lead: Issue scheduled for fixing in Copilot 3.11.

Fix assigned to @ivanperez-keera.

[2022-08-25 21:03] ivanperez-keera commented on #369
Implementor: Solution implemented, review requested.

[2022-08-25 21:05] ivanperez-keera commented on #369
Change Manager: Verified that:
- Solution is implemented:
  - [X] The code proposed compiles and passes all tests. Details:
    Build log: https://app.travis-ci.com/github/copilot-language/copilot/builds/254838858

  - [X] The solution proposed produces the expected result. Details:
    The following Dockerfile and the accompanying test file check that Copilot reports an error when the deprecated

[2022-08-25 21:05] ivanperez-keera commented on #369
Change Manager: Implementation ready to be merged.

[2022-08-25 21:22] #369 closed

[2022-08-28 20:33] fdedden commented on #314
I ran some tests with your changes, and can verified that your implementation works. I will release a new version of language-c99-simple on hackage.

@RyanGlScott I can (unfortunately) confirm that returning an array as a pointer is a bug. Weird though how the optimisation level of GCC makes a difference. I always thought that up to `-O2`, semantics didn't change.

[2022-08-28 20:44] RyanGlScott commented on #314
I'm fairly certain that the `s0_gen` function exhibits undefined behavior, and I doubt that compiles make any guarantees about optimizations preserving semantics for those kinds of situations.

[2022-08-28 20:57] fdedden commented on #314
My package has been published (https://hackage.haskell.org/package/language-c99-simple-0.2.2), so the changes made by @ivanperez-keera should work now, if the dependency version is increased accordingly.

[2022-08-28 20:59] fdedden commented on #314
Yeah that sounds reasonable. On gcc 11.2.1, a `-Os` also breaks the code.

[2022-08-28 21:05] ivanperez-keera commented on #314
Thanks a lot for dealing with this quickly and over the weekend!

[2022-08-30 01:04] ivanperez-keera commented on #314
Implementor: Solution implemented, review requested.

[2022-08-30 01:21] ivanperez-keera commented on #314
Change Manager: Verified that:
- Solution is implemented:
  - [X] The code proposed compiles and passes all tests. Details:
    Build log: https://app.travis-ci.com/github/Copilot-Language/copilot/builds/254956244

  - [X] The solution proposed produces the expected result. Details:
    The following Dockerfile and the accompanying test files check that Copilot behaves the same way in the interpre

[2022-08-30 01:21] ivanperez-keera commented on #314
Change Manager: Implementation ready to be merged.

[2022-08-30 01:40] #314 closed

[2022-09-05 13:44] fdedden commented on #373
Thanks for mentioning this. Moving the definition of the struct from the .c to the .h file will solve this problem.

Initially the C99 backend of Copilot is designed to interface on existing code primarily. The actual/primary definition would then be defined in already existing C code (written outside the scope of Copilot). Moving the definition to the .h file more or less breaks with this idea.

[2022-09-05 13:57] ivanperez-keera commented on #373
The implications are that, in many cases, the code that uses Copilot will not be able to import the `.h` file. Oftentimes, those structs will be defined in different header files (e.g., from mavlink, cFE and other libraries), so this would lead to duplicate (and possibly incompatible) definitions.

Do we need an external and an internal header file? Is there possibly a smarter solution?

[2022-09-05 14:06] fdedden commented on #373
That is exactly the problem.

No I don't think that would work, as `struct2.c` together with `struct2.h` are their own 'compilation unit'. I.e. they are compiled separately from any other c files, unless one or more header files tell them where to find it. Let me try something out to be certain.

[2022-09-05 14:08] ivanperez-keera commented on #373
I don't understand why it would not work.

I mean this:
[code]

[2022-09-05 14:15] fdedden commented on #373
Oh sorry, I misunderstood you then. I thought you meant write the declaration of the struct in `main.c`, prior the import of `struct2.h`. That wouldn't fork the reasons I mentioned.

Your solution however, works. It is a bit unusual, as we force a declaration of the struct onto the header file (in another .c file we could provide it with a different declaration).

I think we can safely rewrite it

[2022-09-05 14:19] fdedden commented on #373
Probably a nicer approach (but also one that changes Copilot more significantly) is that we allow the user to tell which .h files need to be included in `struct2.h` for the declaration. In that way Copilot would reuse the already existing ones without using an internal one.

Initially we did not take this approach as there did not seem a reason to do so. Having Copilot use an internal declaration

[2022-09-05 14:54] fdedden commented on #373
That would also work. I think we want to rename the macro to something like `USE_COPILOT_INTERNAL_DECLARATIONS` to make it more self-documented.

To sumarise, we have three valid options:
1) Ask the user of Copilot to provide the correct header files, so they can be included in the .h file. This requires an extra step from the user that does not provide any extra to the user experience, e.g. no ex

[2022-09-05 15:12] ivanperez-keera commented on #373
I think maybe @RyanGlScott and @robdockins can also help us understand if options 2 and 3 would make their verification work harder.

It sounds like option 1 would be the best, although it would require a bit more work. But not a lot:
- Change C settings to have two extra fields `extraIncludes :: [String]`, `defineStructs :: Bool`.
- Change `mkDefaultCSettings` to make that field empty and the boo

[2022-09-05 15:16] ivanperez-keera commented on #373
This removes the "check" that the struct definition that the Copilot code is working with is the one defined in Haskell, which may affect the verification work. The proofs generated would be subject to the definition of the struct that comes from the user being "compatible" (whatever that means) with what Haskell/Copilot expected. What is or isn't compatible (as opposed to exactly equal) may depen

[2022-09-05 15:39] fdedden commented on #373
Sounds like that would be the best approach then.

I understand that allowing Copilot to still generate the structs is important for backwards compatibility. However in the long run, I don't think we should allow the user to have this choice. It would be better to force one particular way. This simplifies the implementation and documentation.

[2022-09-05 15:48] ivanperez-keera commented on #373
It's a bit more than that. What I like about that possibility is that it allows you to compile the generated code without any extra include directories. Once we start adding extra includes, and do not generate the structs, any verification, test, etc. becomes much more complicated because it requires extra flags. Handling libraries and dependencies and all that is generally a pain in the neck.

[2022-09-05 16:32] RyanGlScott commented on #373
I don't think any of the options presented above would be especially difficult for us to handle. The first step that our verifier performs is to invoke `clang -c foo.c` in the same directory that `foo.h` lives. We can easily change the `CSettings` if need be in case we need to explicitly add `foo.h` to `extraIncludes`.

[2022-09-05 16:47] ivanperez-keera commented on #373
I think the issue here might be that you might have to add options to clang, that is, additional includes (`-I<path>`).

[2022-09-05 16:53] RyanGlScott commented on #373
I'm not sure why `-I` would be necessary—would the header files be generated in a different directory? In any case, we have full control over how `clang` is invoked, so passing additional arguments shouldn't be difficult.

[2022-09-05 17:04] ivanperez-keera commented on #373
Well, the idea would be that users would be able to say things like:
[code]
and so on.

That way, the resulting spec can refer to structs defined in those header files.

You just need to make sure that `clang` can find those header files. Whether users need to use additional environment variables that the `clang` process inherits, or something else, idk.

[2022-09-05 17:05] ivanperez-keera commented on #373
I guess the issue does not arise so much if people use `"\"PATH\""` syntax (if `clang` is executed from the same path) but when they use `"<PATH>"` syntax.

[2022-09-05 17:18] RyanGlScott commented on #373
Ah, I see what you mean. At present, our verifier only supports the structs that `copilot-c99` itself generates. It would be interesting to be able to verify specifications that refer to arbitrary, user-defined structs, but that would likely require adding some more user-configurable knobs to support, and perhaps some thought about what requirements the struct definitions should adhere to. That is

[2022-09-06 20:51] ivanperez-keera commented on #373
@fdedden We are dealing with bugs differently now. I will clear the assignment and remove the bug label.

[2022-09-07 19:04] ivanperez-keera opened #376 "Release 3.11"
**Description**

Version 3.11 of Copilot is ready and should be closed and published on Hackage.

**Type**

- Management: release and publication.

**Additional context**

None.

**Requester**

- Ivan Perez.

**Method to check presence of bug**

Not applicable (not a bug).

**Expected result**

- Cabal files indicate new version number, constraints are adjusted as needed, commit is tagged with ver

[2022-09-07 19:04] ivanperez-keera commented on #376
Change Manager: Confirmed version is ready to be released.

[2022-09-07 19:05] ivanperez-keera commented on #376
Technical Lead: Confirmed that the issue should be addressed.

[2022-09-07 19:05] ivanperez-keera commented on #376
Technical Lead: Issue scheduled for Copilot 3.11.

Fix assigned to: @ivanperez-keera.

[2022-09-07 21:26] ivanperez-keera commented on #376
Implementor: solution implemented, review requested.

[2022-09-07 21:39] ivanperez-keera commented on #376
Change Manager: Verified that:
- Solution is implemented:
  - [X] The code proposed compiles and passes all tests. Details:
    Build log: https://app.travis-ci.com/github/Copilot-Language/copilot/builds/255310322
  - [X] The solution proposed addresses the necessary modification to cabal packages. The following docker image installs copilot enforcing the new version via compiler constraints. It p

[2022-09-07 21:39] ivanperez-keera commented on #376
Change Manager: Implementation ready to be merged.

[2022-09-07 22:40] #376 closed

[2022-10-02 15:43] fdedden commented on #373
I have made these modifications (with slightly altered names for the CSettings records): https://github.com/Copilot-Language/copilot/compare/master...fdedden:copilot:develop-struct-declns?expand=1

The struct declarations are completely removed from the `.c` file. The forward declarations previously generated for the `.h` file are replaced by the declarations, but only if `cSettingsGenerateStructD

[2022-10-03 10:41] RyanGlScott commented on #373
This plan shouldn't pose any obstacles verification-wise. In fact, all of our current tests continue to pass with the patch in https://github.com/Copilot-Language/copilot/issues/373#issuecomment-1264672483.

The original test case in https://github.com/Copilot-Language/copilot/issues/373#issue-1349644079 now compiles with Clang as well after applying the patch, although the test case doesn't pass

[2022-10-11 20:19] ivanperez-keera commented on #363
Technical Lead: Issue scheduled for fixing in Copilot 3.12.

Fix assigned to @RyanGlScott .

[2022-10-12 00:39] RyanGlScott commented on #363
Implementor: Solution implemented, review requested.

[2022-10-12 12:33] ivanperez-keera commented on #363
Change Manager: Verified that:
- Solution is implemented:
  - [X] The code proposed compiles and passes all tests. Details:
    Build log: https://app.travis-ci.com/github/Copilot-Language/copilot/builds/256560808

  - [X] The solution proposed produces the expected result. Details:
    The code provides a new function and the new types needed by that function are exposed. Verified by manual inspe

[2022-10-12 12:33] ivanperez-keera commented on #363
Change Manager: Implementation ready to be merged.

[2022-10-12 12:36] #363 closed

[2022-10-12 13:58] ivanperez-keera opened #379 "`copilot-core`: replace uses of `Copilot.Core.Type.Equality` with definitions from `base`"
**Description**

The module `Copilot.Core.Type.Equality` provides definitions to reason about type equality. That module is very similar to `base:Data.Type.Equality`, and all uses of the former can be replaced by uses of the latter.

Eliminating the need for `Copilot.Core.Type.Equality` altogether would allow us to remote the module completely from the library, as it is not needed by copilot's req

[2022-10-13 16:04] ivanperez-keera opened #380 "`copilot-c99`: Remove unnecessary compilation flag"
**Description**

The cabal file of `copilot-c99` specifies a compiler flag `--no-deprecations` that is no longer necessary. It should have been removed when modules were hidden, but the flag was left behind.

**Type**

- Bug: unnecessary code included in compilation options.

**Additional context**

None.

**Requester**

- Ivan Perez

**Method to check presence of bug**

The following line prints

[2022-10-14 20:23] achilleasNP commented on #379
Is it OK, if I take a stub on this?

[2022-10-18 17:20] ivanperez-keera commented on #380
Change Manager: Confirmed that the flag is no longer needed as per the description provided in the comment.

[2022-10-18 17:20] ivanperez-keera commented on #380
Technical Lead: Confirmed that the issue should be addressed.

[2022-10-18 17:21] ivanperez-keera commented on #380
Technical Lead: Issue scheduled for fixing in Copilot 3.12.

Fix assigned to @willpog .

[2022-10-18 18:47] ivanperez-keera commented on #379
Change Manager: Confirmed that the types and functions can be replaced by definitions in `base`.

[2022-10-18 18:47] ivanperez-keera commented on #379
Technical Lead: Confirmed that the issue should be addressed.

[2022-10-18 18:49] ivanperez-keera commented on #379
@achilleasNP our process changed recently, we are trying to figure out whether we can accept an external contribution atm and whether we need a copyright release form. I'll let you know ASAP.

Thanks!

[2022-10-18 21:18] willpog commented on #380
Implementor: Solution implemented, review requested.

[2022-10-19 15:12] achilleasNP commented on #379
@ivanperez-keera sure just let me know if you need a copyright release form, not a problem from my end. I just hope I am not causing too much extra work for you.

cheers,
Achilleas

[2022-10-19 15:39] ivanperez-keera commented on #379
No, you are good. This is ultimately a project for the community, and it's a pleasure to see it being used, extended and made everybody's. Thanks for the contribution. I'll keep you posted.

[2022-10-19 15:54] ivanperez-keera commented on #380
Change Manager: Verified that:
- Solution is implemented:
  - [X] The code proposed compiles and passes all tests. Details:
    Build log: https://app.travis-ci.com/github/Copilot-Language/copilot/builds/256824776

  - [X] The solution proposed produces the expected result. Details:
    The following dockerfile checks that the flag is no longer present:
[code]
    When executed over the new commit

[2022-10-19 15:54] ivanperez-keera commented on #380
Change Manager: Implementation ready to be merged.

[2022-10-19 15:57] #380 closed

[2022-10-21 22:27] ivanperez-keera opened #383 "`copilot-core`: externalize the pretty-printer in a separate library"
**Description**

Currently, the architecture of Copilot mixes backends with other libraries, which makes the result not uniform. For example, the pretty-printer is part of `copilot-core`, while the C99 backend and the interpreter are in separate libraries.

The implementation does not match our desired architecture according to our design documents, and it makes the code partly harder to maintain.

[2022-10-21 22:27] ivanperez-keera commented on #383
Change Manager: Confirmed that the issue exists.

[2022-10-21 22:27] ivanperez-keera commented on #383
Technical Lead: Confirmed that the issue should be addressed.

[2022-10-21 22:27] ivanperez-keera commented on #383
Technical Lead: Issue scheduled for fixing in Copilot 3.12.

Fix assigned to: @ivanperez-keera .

[2022-10-21 23:37] ivanperez-keera commented on #383
Implementor: Solution implemented, review requested.

[2022-10-22 00:05] ivanperez-keera commented on #383
Change Manager: Verified that:
- Solution is implemented:
  - [X] The code proposed compiles and passes all tests. Details:
    Build log: https://app.travis-ci.com/github/Copilot-Language/copilot/builds/256971796

  - [X] The solution proposed produces the expected result. Details:
    The following Dockerfile checks that the new library is installed and the modules in the pretty-printer can be u

[2022-10-22 00:05] ivanperez-keera commented on #383
Change Manager: Implementation ready to be merged.

[2022-10-22 00:12] #383 closed

[2022-10-24 17:28] ivanperez-keera commented on #373
@fdedden There is a simpler solution to this immediate issue that does not require relying on additional includes and is backwards compatible. To illustrate what I'm proposing, I'll use the following names:
- `spec.c`: file where the Copilot monitors are generated.
- `spec.h`: accompanying header file generated by Copilot.
- `main.c`: main file written by the user by hand.

1) Generate the structs

[2022-10-24 17:35] ivanperez-keera commented on #373
In the future, we could evaluate using custom includes and, partly independently, give users the ability to not import our custom types. But that be a new feature, and evaluated separately.

[2022-10-24 18:17] ivanperez-keera commented on #373
**Description**

Copilot-generated C99 monitor implementation files import the corresponding generated headers before defining the necessary C structs. Part of those headers contain the declarations of the handlers, which may take structs as arguments.

By using such forward declarations, the C compiler is not always able to figure out the size of the arguments to those handler functions, and the

[2022-10-24 18:18] ivanperez-keera commented on #373
Technical Lead: Confirmed that the issue should be addressed.

[2022-10-24 18:18] ivanperez-keera commented on #373
Technical Lead: Issue scheduled for fixing in Copilot 3.12.

Fix assigned to @fdedden  .

[2022-10-24 18:29] ivanperez-keera commented on #332
Requester: A decision is made to modify the issue to focus only on `copilot-core` for now, due to the potential size and impact of this change.

[2022-10-24 18:35] ivanperez-keera commented on #332
Change Manager: Confirmed that the style is non-conforming and further changes are needed.

[2022-10-24 18:35] ivanperez-keera commented on #332
Technical Lead: Confirmed that the issue should be addressed.

[2022-10-31 11:21] fdedden commented on #373
I have written a preliminary solution: https://github.com/Copilot-Language/copilot/compare/master...fdedden:copilot:develop-struct-declns?expand=1

[2022-10-31 12:45] RyanGlScott commented on #373
When I try that branch on the following program:

[code]

I get the following exception:

[code]

[2022-10-31 19:12] fdedden commented on #373
Implementor: Solution implemented, review requested.

[2022-11-01 19:10] ivanperez-keera commented on #373
Change Manager: Implementation ready to be merged.

[2022-11-01 19:15] #373 closed

[2022-11-01 19:46] RyanGlScott opened #386 "`copilot-c99`: Streams of arrays result in C code with undefined behavior"
_(A continuation of a discussion started in https://github.com/Copilot-Language/copilot/issues/314#issuecomment-1225858862 and https://github.com/Copilot-Language/copilot/issues/373#issuecomment-1265255432.)_

Given this Copilot spec:

[code]

If you run this, it will generate the following C monitor files:

[code]
[code]
[code]

If you link this code against the following program:

[code]

Then i

[2022-11-01 19:48] RyanGlScott commented on #373
Thanks, @fdedden! I've confirmed that this solution doesn't pose any challenges on our side.

I've opened #386 to track the remaining issue alluded to in https://github.com/Copilot-Language/copilot/issues/373#issuecomment-1265255432 (and earlier in https://github.com/Copilot-Language/copilot/issues/314#issuecomment-1225858862).

[2022-11-01 21:03] ivanperez-keera commented on #379
@achilleasNP I left an explanation on the PR.

[2022-11-01 21:04] ivanperez-keera commented on #379
Technical Lead: Issue scheduled for fixing in Copilot 3.12.

Fix assigned to: @ivanperez-keera .

[2022-11-03 04:24] ivanperez-keera commented on #379
Implementor: Solution implemented, review requested.

[2022-11-03 06:12] ivanperez-keera commented on #379
Change Manager: Verified that:
- Solution is implemented:
  - [X] The code proposed compiles and passes all tests. Details:
    Build log: https://app.travis-ci.com/github/Copilot-Language/copilot/builds/257375348

  - [X] The solution proposed produces the expected result. Details:
    The following Dockerfile checks that the new interface based on `base` is being published, in which case it prin

[2022-11-03 06:13] ivanperez-keera commented on #379
Change Manager: Implementation ready to be merged.

[2022-11-03 06:20] #379 closed

[2022-11-03 21:27] ivanperez-keera commented on #332
Implementor: Solution implemented, review requested.

[2022-11-04 10:55] ivanperez-keera commented on #332
Change Manager: Verified that:
- Solution is implemented:
  - [X] The code proposed compiles and passes all tests. Details:
    Build log: https://app.travis-ci.com/github/Copilot-Language/copilot/builds/257415107
  - [X] The solution proposed fixes the style issues mentioned. Due to the nature of the issue (not a bug), no docker file is provided.
- [X] Implementation is documented. Details:
  No

[2022-11-04 10:56] ivanperez-keera commented on #332
Change Manager: Implementation ready to be merged.

[2022-11-04 10:57] #332 closed

[2022-11-07 19:15] ivanperez-keera opened #389 "Release 3.12"
**Description**

Version 3.12 of Copilot is ready and should be closed and published on Hackage.

**Type**

- Management: release and publication.

**Additional context**

None.

**Requester**

- Ivan Perez.

**Method to check presence of bug**

Not applicable (not a bug).

**Expected result**

- Cabal files indicate new version number, constraints are adjusted as needed, commit is tagged with ver

[2022-11-07 19:17] ivanperez-keera commented on #389
Change Manager: Confirmed version is ready to be released.

[2022-11-07 19:17] ivanperez-keera commented on #389
Technical Lead: Confirmed that the issue should be addressed.

[2022-11-07 19:18] ivanperez-keera commented on #389
Technical Lead: Issue scheduled for Copilot 3.12.

Fix assigned to: @ivanperez-keera.

[2022-11-08 03:04] ivanperez-keera commented on #389
Implementor: Solution implemented, review requested.

[2022-11-08 03:04] ivanperez-keera commented on #389
Change Manager: Verified that:
- Solution is implemented:
  - [X] The code proposed compiles and passes all tests. Details:
    Build log: https://app.travis-ci.com/github/copilot-language/copilot/builds/257523579
  - [X] The solution proposed addresses the necessary modification to cabal packages. The following docker image installs copilot enforcing the new version via compiler constraints. It p

[2022-11-08 03:05] ivanperez-keera commented on #389
Change Manager: Implementation ready to be merged.

[2022-11-08 03:08] #389 closed